VITE_SUPABASE_URL=https://adtvobrzxcqszzsmfjjs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkdHZvYnJ6eGNxc3p6c21mampzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNDI5NDgsImV4cCI6MjA5MjYxODk0OH0.XucEPU9cDPBYbu79s1Mq-3icd_qQD0C_AZUUH8E0BPs
VITE_TELEGRAM_BOT_URL=https://t.me/fliplens_bot
